# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BIUST Software Engineering L200\ds&a\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
